<h1>Stores</h1>
    <% @stores.each do |store| %>
    <div>
        <%= store.codename %>
        <%= store.address %>
        <%= store.phone %>
        <%= link_to 'Edit', edit_store_path(store) %>
      </div>
    <% end %>
<%= link_to 'New Store', new_store_path %>
