<h1>Stores</h1>
<table>
  <thead>
    <tr>
      <th>Codename</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.codename %></td>
        <td><%= store.address %></td>
        <td><%= store.phone %></td>
        <td>
          <%= link_to 'Edit', edit_store_path(store) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Store', new_store_path %>
