<h1>Assign Book</h1>
<% @inventory.each do |i| %>
    <% @stores.each do |s| %>
        <%if i.store_id == s.id%>
        <%= s.codename%>
        <%end%>
    <%end%>
    <%= i .quantity%>
<%end%>  
<%= form_tag(update_assignment_book_path(@book), method: :patch) do %>
  <div>
    <%= label_tag 'Store' %>
    <%= select_tag 'store_id', options_for_select(@stores.map { |store| [store.codename, store.id] }) %>
  </div>
  <div>
    <%= label_tag 'Quantity' %>
    <%= number_field_tag 'quantity', 0, min: 1 %>
  </div>
  <%= submit_tag 'Assign Book' %>
<% end %>
<%= link_to 'Back', @book %>
