<div class="form">
  <div class="item">
 <p>Availability</p>
            <div class="store">
                <% @inventory.each do |i| %>
                <%if i.book_id == @book.id%>
                <div class="store">
                <% @stores.each do |s| %>
                    <%if i.store_id == s.id%>
                    <%= s.codename%>
                    <%end%>
                <%end%>
                <b>has</b>
                <%= i .quantity%>
                <b>units</b>
                </div>
                <%end%>
                <%end%>   
  </div>

<div class="item">
<%= form_tag(update_assignment_book_path(@book), method: :patch) do %>
  <div>
    <%= label_tag 'Store' %>
    <%= select_tag 'store_id', options_for_select(@stores.map { |store| [store.codename, store.id] }) %>
  </div>
  <div>
    <%= label_tag 'Quantity' %>
    <%= number_field_tag 'quantity', min: 1 %>
  </div>
  <%= submit_tag 'Assign Book' %>
<% end %>
<%= link_to 'Back', books_path %>
</div>
</div>