    <% @books.each do |book| %>
    <div>
        <%= book.title %>
        <%= book.author %>
        <%= book.year %>

        <% @inventory.each do |i| %>
          <% @stores.each do |s| %>
              <%if i.store_id == s.id%>
              <%= s.codename%>
              <%end%>
          <%end%>
          <%= i .quantity%>
         <%end%>   
        <%= link_to 'Edit', edit_book_path(book) if user_signed_in? %>
    </div>
    <% end %>
<%= link_to 'New Book', new_book_path if user_signed_in? %>
